<div class="flex flex-col min-h-screen" id="top">

<div class=" w-full fixed top-0 h-12 flex-none bg-black p-4 text-white z-3">

<a *ngIf="true" routerLink="/home" class="breadcrumb-label">PianoML</a>
<span *ngIf="true" class="breadcrumb-separator">/</span>

<ng-container *ngFor="let item of breadcrumbService.items$ | async; let last = last">
    <a *ngIf="!last" [routerLink]="item.path" class="breadcrumb-label">{{ item.label }}</a>
    <span *ngIf="last" class="breadcrumb-label breadcrumb-label-last">{{ item.label }}</span>
    <span *ngIf="!last" class="breadcrumb-separator">/</span>
</ng-container>`


</div>
<div class="flex-grow pt-16 ">
    <router-outlet />
</div>
<footer class="bg-black fixed bottom-0 w-full h-12 text-white p-3 flex justify-center items-center z-3">

    <a class="ml-2 mr-4" href="https://github.com/piano-ml/piano-ml">
        <ng-icon name="bootstrapGithub" style="font-size: 22px;"></ng-icon>
    </a>




    <share-buttons [theme]="'modern-dark'"
 [include]="['facebook','x','reddit','viber','xing']"
 [show]="5"
 [url]="'https://pianoml.org/'"
></share-buttons>

<a href="https://www.patreon.com/EmmanuelFlorent" class="p-2">
    Become a Patron
</a>

</footer>
</div>