<div class="flex justify-center items-center h-full">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="p-8 rounded-lg shadow-lg w-full max-w-sm">
    <h2 class="text-2xl font-bold mb-6 text-center">Login</h2>

    <div class="mb-4">
      <label for="email" class="block text-sm font-medium mb-2">email</label>
      <input type="text" id="email" formControlName="email"
             class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-300"
             placeholder="Enter your email">
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
           class="text-red-500 text-sm mt-1">
        email is required.
      </div>
    </div>

    <div class="mb-6">
      <label for="password" class="block text-sm font-medium mb-2">Password</label>
      <input type="password" id="password" formControlName="password"
             class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-300"
             placeholder="Enter your password">
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
           class="text-red-500 text-sm mt-1">
        Password is required.
      </div>
    </div>

    <button type="submit" [disabled]="loginForm.invalid"
            class="w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-50 disabled:bg-gray-400">
      Login
    </button>

    <div class="text-center mt-4">
      <a routerLink="/account/create" class="text-blue-500 hover:underline">Don't have an account? Create one</a>
    </div>
  </form>
</div>
