<div class="flex flex-col flex-grow h-dvh bg-white">

    <div class="flex-row  bg-black ">
        <div class="flex flex-col lg:flex-row xl:flex-row mt-2 pl-2 pr-2">


            <div class="flex lg:w-1/2 xl:w-1/2 ">

                <div class="flex-none ">
                    <button (click)="summary()" class="btn btn-desktop m-1">
                        <ng-icon name="bootstrapHouse" class="svg-button" />
                    </button>
                </div>

                <div class="display flex-grow m-1 lcd-text">
                    <div class="flex flew-grow flex-row  m-1">
                        <div #titleContainer class="flex-grow overflow-hidden mr-2 marquee-container">
                            <div #titleText [class.animate-marquee]="shouldScroll" class="title-text">
                                {{ title }}
                            </div>
                        </div>
                        <div class="flex-none flex flex-col text-sm">
                            <div class="text-center">
                                {{ (elapsedTime | async) | elapsedTime }}
                            </div>
                            <div class="text-center">
                                ♩{{ tempo }}
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            @if (!loading) {

            <div class="flex lg:w-1/2 xl:w-1/2 items-end justify-end">

                <div class="checkbox-input m-1">
                    <label class="label svg-label">
                        <input type="checkbox" id="fullscreen" [checked]="isFullscreen" (change)="toggleFullscreen()" />
                        <ng-icon name="bootstrapFullscreen" class="svg-button" />
                    </label>
                </div>

                @if (!isPlaying) {

                <button (click)="showInfo()" class="btn btn-desktop m-1">
                    <ng-icon name="bootstrapInfoCircleFill" class="svg-button" />
                </button>

                <button (click)="reset()" class="btn btn-desktop m-1">
                    <ng-icon name="bootstrapSkipBackwardFill" class="svg-button" />
                </button>
                }

                <div class="radio-input m-1">
                    <label class="label p-1 pt-5">
                        <input type="radio" id="50pct" name="value-radio" (click)="setSpeed(0.5)"
                            [disabled]="isPlaying" />
                        <span class="text">♩50%</span>
                    </label>
                    <label class="label p-2 pt-5">
                        <input type="radio" id="75pct" name="value-radio" (click)="setSpeed(0.75)"
                            [disabled]="isPlaying" />
                        <span class="text">♩75%</span>
                    </label>

                    <label class="label p-2 pt-5">
                        <input type="radio" id="100pct" name="value-radio" checked (click)="setSpeed(1)"
                            [disabled]="isPlaying" />
                        <span class="text">♩100%</span>
                    </label>

                </div>



                <div class="checkbox-input m-1">
                    <label class="label svg-label">
                        <input type="checkbox" id="loop" [disabled]="isPlaying" [checked]="playConfiguration.isLoop"
                            (change)="playConfiguration.isLoop = !playConfiguration.isLoop" />
                        <ng-icon name="bootstrapRepeat" class="svg-button" />

                    </label>
                </div>

                <div class="checkbox-input m-1">
                    <label class="label svg-label ">
                        <input type="checkbox" id="hideKeyboard" [checked]="!hideKeyboard"
                            (click)="$event.preventDefault(); openMidiSetup()" />
                        <ng-icon name="keyboard" class="svg-button" />
                    </label>
                </div>


                <div class="checkbox-input m-1">
                    <label class="label svg-label">
                        <input type="checkbox" id="left-hand" [disabled]="isPlaying"
                            [checked]="playConfiguration.waitForLeftHand"
                            (change)="setWaitForLeftHand(!playConfiguration.waitForLeftHand)" />
                        <ng-icon name="lefthand" class="svg-button" />
                    </label>
                </div>

                <div class="checkbox-input m-1">
                    <label class="label svg-label">
                        <input type="checkbox" id="right-hand" [disabled]="isPlaying"
                            [checked]="playConfiguration.waitForRightHand"
                            (change)="setWaitForRightHand(!playConfiguration.waitForRightHand)" />
                        <ng-icon name="righthand" class="svg-button" />
                    </label>
                </div>


                @if (!isPlaying) {
                <button (click)="start()" class="btn btn-desktop m-1">
                    <ng-icon name="bootstrapPlayFill" class="svg-button" />
                </button>
                } @else {
                <button (click)="stop()" class="btn btn-desktop m-1">
                    <ng-icon name="bootstrapPauseFill" class="svg-button" />
                </button>
                }

            </div>
            }
        </div>

        <div class="pl-2 pr-2 p-2 mr-4 ml-4">
            <div #range></div>
        </div>
        
    </div>


    <!-- score -->
    @if (!loading) {
    <div class="bg-white flex-grow overflow-y-auto score-container">
        <app-osmd [scoreData]="scoreData" [musicXml]="musicXml"></app-osmd>

    </div>
    }

    <!-- middle bar empty for now -->
    <div #arena class="flex {{arenaClass}} bg-grey-100 h-60 text-center text-neutral-400 text-2xl">
        @if (loading) {
        <div class="flex flex-col items-center justify-center w-full h-full text-6xl">
            🎼
            <span class="text-sm">loading...</span>
        </div>
        }
    </div>

    <!-- keyboard -->
    @if (!hideKeyboard && !loading) {
    <div class="flex-none">
        <app-keyboard></app-keyboard>
    </div>
    }

    <app-midi-setup
        [isOpen]="isMidiSetupOpen"
        [hideKeyboard]="hideKeyboard"
        (hideKeyboardChange)="setHideKeyboard($event)"
        (closeModal)="closeMidiSetup()"
    ></app-midi-setup>

</div>
