<div *ngIf="isModalOpen"
    class="fixed top-0 left-0  xl:right-0 xl:bottom-0 z-50 flex items-center justify-center bg-gray-900 bg-opacity-50">
    <div
        class="relative p w-full max-w-xl md:max-w-2xl bg-white rounded-lg shadow dark:bg-gray-700 max-h-[90vh] overflow-y-auto mx-4 md:mx-0">

        <!-- Modal header -->
        <div
            class="sticky top-0 flex items-center justify-between p-4 border-b rounded-t bg-white dark:border-gray-600">
            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                {{title}}
            </h3>
            <button (click)="closeModal()" 
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
                <!-- Close SVG -->
                <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
        </div>


        <!-- Modal body -->
        <div class="m-8">
            <p class="text-xl text-black">{{content}}</p>
        </div>
    </div>
</div>