<div class="flex flex-col min-h-screen" id="top">

    <div class=" w-full fixed top-0 h-12 flex-grow bg-black p-4 text-white z-3">
        <div class="flex flex-row bg-red">
            <div class="flex-none">
                <a *ngIf="true" routerLink="/home" class="breadcrumb-label">PianoML</a>
                <span *ngIf="true" class="breadcrumb-separator">/</span>

                <ng-container *ngFor="let item of breadcrumbService.items$ | async; let last = last">
                    <a *ngIf="!last" [routerLink]="item.path" class="breadcrumb-label">{{ item.label }}</a>
                    <span *ngIf="last" class="breadcrumb-label breadcrumb-label-last">{{ item.label }}</span>
                    <span *ngIf="!last" class="breadcrumb-separator">/</span>
                </ng-container>
            </div>

            <div class="flex-grow"></div>
            
            <div class="flex-none">
                <ng-container *ngIf="isLoggedIn$ | async; else loginLink">
                    <button routerLink="/account/home" class="text-white">Me</button>
                </ng-container>
                <ng-template #loginLink>
                    <ng-container *ngIf="!(router.url === '/account/login')">
                        <a routerLink="/account/login" class="text-white">Login</a>
                    </ng-container>
                </ng-template>
            </div>

        </div>

    </div>
    <div class="flex-grow pt-16 pb-16">
        <router-outlet />
    </div>
    <footer class="bg-black fixed bottom-0 w-full h-12 text-white p-3 flex justify-center items-center z-3 ">


        Share with:<share-buttons [theme]="'modern-dark'" [include]=shareLinks [show]="5"
            [url]="'https://pianoml.org/'"></share-buttons>

        <a href="https://www.patreon.com/EmmanuelFlorent" class="underscore">
            Become a Patron
        </a>
        <a class=" ml-2 " href="https://github.com/piano-ml/piano-ml">
            <ng-icon name="bootstrapGithub" style="font-size: 18px;"></ng-icon>
        </a>
    </footer>
</div>