<!-- Navigation Link -->

<div class="bg-neutral-600 p-4 mb-4 rounded-lg ">
  <!-- Search Section -->
  <div>
    <div class="flex gap-2 justify-between items-center">
      <p>
      <span class=" text-gray-300">Bring your own score (MIDI, PDF, MusicXML, Image)</span><br>
      <span class="text-sm">
        You will be prompted for a Score title and Author. Then you will be prompted for file then. PianoML will do
        Optical Music Recognition if needed.
      </span>
      </p>

      <a routerLink="/import/link"
        class="px-6 py-3 bg-blue-600 text-white rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-50 transition-colors font-medium whitespace-nowrap">
        <span class="mr-2 text-lg">🔗</span>
        Import a new file
      </a>

    </div>


  </div>
