<canvas #glCanvas class="gl-canvas"></canvas>

<div class="flex flex-col  h-full ">

  <section id="section1" class="h-screen flex flex-col h-100 pb-24">

    <div class="page-title">A Machine to Learn Piano
      <hr>
    </div>

    <div class="flex-grow flex items-center justify-center text-center">

      <a class="text-center z-1 font-bold py-4 px-8 rounded tracking-[00.15rem] bg-neutral-600 text-orange p-4 border border-orange-600"
      (click)="summary()">start</a>
    </div>

    
  <!---
    <div class="z-1 bottom-20 flex-none text-right p-8">
      <a href="#section2" class="z-1 p-8">What's this software to learn Piano ?</a>
    </div>
  -->


</section>

  <!--
<section id="section2" class="flex-item-center flex h-screen">


  Lores ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt, nunc nec tincidunt tincidunt, nunc
  nunc, nec tincidunt nunc nunc nec nunc. Donec tincidunt, nunc nec tincidunt tincidunt, nunc nunc, nec
  tincidunt nunc nunc nec nunc. Donec tincidunt, nunc nec tincidunt tincidunt, nunc nunc, nec tincidunt nunc

  Lores ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt, nunc nec tincidunt tincidunt, nunc
  nunc, nec tincidunt nunc nunc nec nunc. Donec tincidunt, nunc nec tincidunt tincidunt, nunc nunc, nec
  tincidunt nunc nunc nec nunc. Donec tincidunt, nunc nec tincidunt tincidunt, nunc nunc, nec tincidunt nunc

  Lores ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt, nunc nec tincidunt tincidunt, nunc
  nunc, nec tincidunt nunc nunc nec nunc. Donec tincidunt, nunc nec tincidunt tincidunt, nunc nunc, nec
  tincidunt nunc nunc nec nunc. Donec tincidunt, nunc nec tincidunt tincidunt, nunc nunc, nec tincidunt nunc
  <div class="bg-red-200 flex-none text-right">
    <a routerLink="." fragment="section1">What ?</a>
  </div>

</section>

<section id="section3" class="flex-item-center flex h-screen">

  <div class="flex-grow  h-100 flex items-center justify-center">


    Lores ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt, nunc nec tincidunt tincidunt, nunc
    nunc, nec tincidunt nunc nunc nec nunc. Donec tincidunt, nunc nec tincidunt tincidunt, nunc nunc, nec
    tincidunt nunc nunc nec nunc. Donec tincidunt, nunc nec tincidunt tincidunt, nunc nunc, nec tincidunt nunc

    Lores ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt, nunc nec tincidunt tincidunt, nunc
    nunc, nec tincidunt nunc nunc nec nunc. Donec tincidunt, nunc nec tincidunt tincidunt, nunc nunc, nec
    tincidunt nunc nunc nec nunc. Donec tincidunt, nunc nec tincidunt tincidunt, nunc nunc, nec tincidunt nunc

    Lores ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt, nunc nec tincidunt tincidunt, nunc
    nunc, nec tincidunt nunc nunc nec nunc. Donec tincidunt, nunc nec tincidunt tincidunt, nunc nunc, nec
    tincidunt nunc nunc nec nunc. Donec tincidunt, nunc nec tincidunt tincidunt, nunc nunc, nec tincidunt nunc
  </div>

  <div class="flex-none">
    <a href="#section3">What ?</a>
  </div>


</section>
  -->

</div>